a {
  display: inline-block;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  padding-top: calc(var(--bsl) * 1);
  padding-bottom: calc(var(--bsl) * 1);
  font-family: var(--primary-font);
  line-height: var(--bsl);
  background-image: url('https://storage.googleapis.com/remia/static/img/remia_background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 900px) {
    padding-top: calc(var(--bsl) * 2);
    padding-bottom: calc(var(--bsl) * 2);
  }
}

button {
  font-family: var(--secondary-font);
  font-size: .875rem;
  line-height: inherit;
  cursor: pointer;
}

h1 {
  font-family: var(--secondary-font);
}

img {
  width: 100%;
}

p:last-child {
  margin-bottom: 0;
}

strong {
  font-family: var(--secondary-font);
  font-weight: 400;
}

ul {
  padding-left: var(--bsl);
  list-style: none;
}