.container {
  position: relative;
  width: calc((100vw / 24) * 22);
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  @media screen and (min-width: 900px) {
    width: calc((100vw / 24) * 16);
    max-width: 60rem;
  }
 
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://storage.googleapis.com/remia/static/img/remia_background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(6px);
  }

  &__block {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, .75);
  }

  &__header {
    padding-top: calc(var(--bsl) / 2);
    padding-bottom: calc(var(--bsl) / 10);
    color: var(--light-color);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--primary-color);
  }
}