@font-face {
  font-family:"Barlow Medium";
  src: url("/static/fonts/barlow-medium-webfont.woff2") format("woff2"),
       url("/static/fonts/barlow-medium-webfont.woff") format("woff");
}

@font-face {
  font-family:"Barlow Bold";
  src: url("/static/fonts/barlow-bold-webfont.woff2") format("woff2"),
       url("/static/fonts/barlow-bold-webfont.woff") format("woff");
}