{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Remia</title>
  <link rel="stylesheet" href="{% static 'app.bundle.css' %}">
</head>
<body>
  <article class="container">
    <div class="container__block">
      <header class="container__header">
        <h1>#LegendaryMayo</h1>
      </header>
      <div class="content content--full" style="text-align: center;">
        <h2 class="content__headline" style="padding-top: 20%;font-size: 29px;padding-bottom: 20%;">
            Bedankt voor je aanvraag! <br> De sample komt zo spoedig mogelijk jouw kant op.
        </h2>
      </div>
      <footer class="footer">
        <a class="footer__logo" href="https://www.remia.nl/" target="_blank">
          <img src="{% static 'svg/remia.svg' %}" alt="Remia">
        </a>
        <ul class="footer__links">
          <li>
            <a class="footer__link" href="https://www.remia.nl/" target="_blank">
              <img class="icon" src="{% static 'svg/website.svg' %}" alt="Website Remia">
            </a>
          </li>
          <li>
            <a class="footer__link" href="https://www.instagram.com/Remiafans/" target="_blank">
              <img class="icon" src="{% static 'svg/instagram.svg' %}" alt="Instagram Remia">
            </a>
          </li>
          <li>
            <a class="footer__link" href="https://www.facebook.com/remiafans/" target="_blank">
              <img class="icon" src="{% static 'svg/facebook.svg' %}" alt="Facebook Remia">
            </a>
          </li>
        </ul>
      </footer>

    </div>
  </article>

  <script src="{% static 'app.bundle.js' %}"></script>
</body>
</html>